body{
    background-color: palevioletred;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode';
    font-weight: 400;
    font-size:30px;
    line-height: 1.5;
    color: white;
}
.container{
    margin: 120px auto;
    max-width: 600px;
}
header{
    margin-bottom: 30px;
}

form{
    padding: 30px;
    background-color: thistle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.instructions{
    padding: 10px;
    border: none;
    width: 80%;
    border-radius: 50px;
    font-size: 16px;
}
.submit-button{
    margin-left: 10px;
    padding: 10px ;
    border: none;
    background-color: purple;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}
.poem{
    background-color: black;
    color: white;
    font-size: 22px;
    line-height: 1.5;
    padding: 14px;
    margin-top: 8px;
    max-width: 500px;
}
footer{
    text-align: center;
}